* {
    margin:0;
    padding:0;
    font-family: sans-serif;
}

.grille{
    display: grid;
    width:90vw;
    height: 90vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 11fr;
    grid-template-areas: ".      jours"
                         "heures cours";
    justify-items: stretch;
    .jours{
        grid-area:jours;
        @extend %grilles-enfant;
        grid-template-columns: repeat(5, 1fr);
        span{
            @extend %cases-enfant;
            @include colorier-cases($couleur-jours);
        }
    }
    .heures{
        grid-area:heures;
        @extend %grilles-enfant;
        grid-template-rows: repeat(11, 1fr);
        span{
            @extend %cases-enfant;
            @include colorier-cases($couleur-heures);
        }
    }
    .cours{
        grid-area:cours;
        @extend %grilles-enfant;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(11, 1fr);
        span{
            background-color:$couleur-cours;
            @extend %cases-enfant;
            @include colorier-cases($couleur-cours);
        }
        :first-child{
            grid-column: 1;
            grid-row:6/11;
        }
        :nth-child(2){
            grid-column: 2;
            grid-row:7/11;
        }
        :nth-child(3){
            grid-column: 3;
            grid-row:6/9;
        }
        :nth-child(4){
            grid-column: 4;
            grid-row: 1/5;
        }
        :nth-child(5){
            grid-column: 4;
            grid-row: 7/11;
        }
        :last-child{
            grid-column: 5;
            grid-row:6/9;
        }
    }
}

@media screen and (max-width:480px){
    span{
        font-size: .8em;
    }
}