* {
    margin:0;
    padding:0;
}

.grille{
    display: grid;
    width:90vw;
    height: 90vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 11fr;
    grid-template-areas: ". jours"
                         "heures cours";
    justify-items: stretch;
    .jours{
        grid-area:jours;
        @extend %grilles-enfant;
        grid-template-columns: repeat(5, 1fr);
    }
    .heures{
        grid-area:heures;
        @extend %grilles-enfant;
        grid-template-rows: repeat(11, 1fr);
    }
    .cours{
        grid-area:cours;
        @extend %grilles-enfant;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(11, 1fr);
    }
}